body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

footer {
    margin: 100px;
    text-align: center;
}

#hero {
    margin-left: 100px;
    margin-top: 50px;
}

p {
    font-size: 20px;
}