{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ice Cream List</title>
</head>
<body>
    <h1>Ice Creams</h1>
    <a href="{% url 'add' %}"> Добавить </a>
    <ul>
    {% for ice_cream in ice_creams %}
        <p style="font-size: 32px">
            <a href="{% url 'detail' pk=ice_cream.pk %}">{{ ice_cream.flavor }}</a>
        </p>
        <p>{{ ice_cream.portion_size }}</p>
        <p>{{ ice_cream.ingredients }}</p>
        <p>{{ ice_cream.price }}</p>
        <p>{{ ice_cream.calories }}</p>
    {% endfor %}
    </ul>
    <h1>Ice Cream Kiosks</h1>
    <ul>
    {% for ice_cream_kiosk in ice_cream_kiosks %}
        <p style="font-size: 32px">
            {{ ice_cream_kiosk.location }}
        </p>
        <p>{{ ice_cream_kiosk.available_flavors }}</p>
        <p>{{ ice_cream_kiosk.prices }}</p>
        <p>{{ ice_cream_kiosk.working_hours }}</p>
        <p>{{ ice_cream_kiosk.staff_info }}</p>
        <p>{{ ice_cream_kiosk.special_offers }}</p>
    {% endfor %}
    </ul>
</body>
</html>